.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4b4949;
    color: #f5f5f5;
}

.navbar--links--section {
    display: flex;
    font-size: .75rem;
}

.navbar--link {
    margin-right: 1rem;

}

.navbar--title--section {
    display: flex;
}

.navbar--logo {
    margin: .75rem;
    background: transparent;
}